@model XportGear.Models.Category

<div class="genre">
    <h3><em>@Model.Category_Name </em> Items</h3>


    <div class="row">
        @foreach (var item in Model.Items)
        {
            <div class="col-md-2 table-bordered" style="height:270px">
                <div class="row" style="text-align: center;padding-top:5px">
                    @if (item.Picture != null)
                {
                    var base64 = Convert.ToBase64String(inArray: item.Picture);
                    var imgSrc = string.Format(format: "data:image/gif;base64,{0}", arg0: base64);
                        <img src="@imgSrc" width="90" height="70" />
                    }
                </div>
                <div class="row">
                    <p style="text-align: center">
                        <b> @Html.DisplayFor(expression: modelItem => item.Name)</b>
                    </p>
                    <p style="text-align: center">
                        @Html.DisplayFor(expression: modelItem => item.Description)
                    </p>
                    <p style="text-align: center">
                        Size:
                      
                      @Html.DropDownList("size", null, "--- Please Select ---", new { @class = "form-control" })
                        Color:
                       @Html.DropDownList("color", null, "--- Please Select ---", new { @class = "form-control" })
                        @*Size:<b> @Html.DisplayFor(expression: modelItem => item.Size)</b>*@
                    </p>
                    <p style="text-align: center;font-size:large;">
                        @String.Format("{0:F}", item.Price.ToString("C"))
                    </p>
                    <p style="text-align: center">
                        @if (item.QuantityInStock <= item.SafetyStockLevel)
                        {
                            <a href="@Url.Action(actionName: "add_to_cart", controllerName: "Shopping", routeValues: new {id = item.ItemCode})" class="btn disabled btn-default"><i class="fa fa-shopping-cart disabled"></i> Out of stock</a>
                        }
                        else
                        {
                            <a href="@Url.Action(actionName: "add_to_cart", controllerName: "Shopping", routeValues: new {id = item.ItemCode})" class="btn btn-default"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                        }
                    </p>
                </div>
            </div>
        }
    </div>


    @if (ViewBag.Err != null)
    {

    }
